<app-search (redirect)="redirect($event)"> </app-search>
<section class="wrap">
  <div class="books">
    <div class="card-book" *ngIf="book$ | async as book; else loading">
      <div class="card-book_image-block">
        <img
          class="card-book_image"
          [src]="book.volumeInfo.imageLinks?.thumbnail"
          alt=""
        />
      </div>
      <div>
        <div class="card-book_header">
          <div class="card-book_title">{{ book.volumeInfo.title }}</div>
          <div class="card-book_subtitle">
            <p>{{ book.volumeInfo.subtitle }}</p>
          </div>
        </div>
        <div class="card-book_content">
          <p>
            Category:
            <span *ngFor="let category of book.volumeInfo.categories">{{
              category
            }}</span>
          </p>
          <p>
            Author:
            <span *ngFor="let author of book.volumeInfo.authors">{{
              author
            }}</span>
          </p>
          <p>
            Publlished: {{ book.volumeInfo.publishedDate | date: "dd, MMM, y" }}
          </p>
          <p>
            <a [href]="book.volumeInfo.previewLink" target="blank"
              >Visist preview page</a
            >
          </p>
          <p>Language: {{ book.volumeInfo.language }}</p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <app-pogress-spiner class="spinner"></app-pogress-spiner>
  </ng-template>
</section>
