<div class="select">
  <div class="select_wrap">
    <label class="label_categories" for="categories">Categories</label>
    <mat-form-field class="select_field" appearance="fill">
      <mat-select
        matNativeControl
        class="select_categories"
        name="categories"
        id="categories"
        [value]="categoryValue"
        (valueChange)="selectedCategory($event)"
      >
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div class="select_wrap">
    <label class="label_sort" for="sort">Sort by</label>

    <mat-form-field class="select_field">
      <mat-select
        matNativeControl
        class="select_sort"
        name="sort"
        id="sort"
        [value]="sortValue"
        (valueChange)="selectedSort($event)"
      >
        <mat-option *ngFor="let sort of sorts" [value]="sort">{{
          sort
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
