<app-search
  (addBooks)="addBooks($event)"
  (getParams)="getParams($event)"
></app-search>
<section class="wrap">
  <p>{{ totalItems }}</p>
  <div class="books">
    <div
      class="card"
      (click)="bookDetalies(book.id)"
      *ngFor="let book of books"
    >
      <img
        [src]="book.volumeInfo.imageLinks?.smallThumbnail"
        alt="book image"
      />
      <div class="card_header">
        <div class="card_title">{{ book.volumeInfo.title }}</div>
      </div>
      <div class="card_content">
        <p>
          Category:
          <span *ngFor="let category of book.volumeInfo.categories">{{
            category
          }}</span>
        </p>
        <p>
          Author:
          <span *ngFor="let author of book.volumeInfo.authors">{{
            author
          }}</span>
        </p>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <app-progress-spiner></app-progress-spiner>
  </ng-template>

  <button
    class="card_btn"
    [ngClass]="!disabled ? 'hidden' : ''"
    (click)="showMore()"
  >
    Show more
  </button>
</section>
