<app-search
  (addBooks)="addBooks($event)"
  (getParams)="getParams($event)"
></app-search>
<section class="wrap">
  <p class="items">Total items: {{ totalItems }}</p>
  <div class="books">
    <div
      class="card"
      (click)="bookDetalies(book.id)"
      *ngFor="let book of books"
    >
      <img
        class="card_image"
        [src]="book.volumeInfo.imageLinks?.smallThumbnail"
        alt="book image"
      />
      <div class="card_header">
        <div class="card_title text-center">
          {{ book.volumeInfo.title | slice: 0:100 }}
        </div>
      </div>
      <div class="card_content">
        <p class="text-center">
          Category:
          <span *ngFor="let category of book.volumeInfo.categories">{{
            category
          }}</span>
        </p>
      </div>
      <div class="card_content">
        <p class="text-center">
          Author:
          <span *ngFor="let author of book.volumeInfo.authors">{{
            author
          }}</span>
        </p>
      </div>
    </div>
  </div>

  <button
    [ngClass]="disabled ? 'hidden' : ''"
    class="card_btn"
    (click)="showMore()"
  >
    Show more
  </button>
</section>
<ng-template [ngIf]="spinner$ | async">
  <app-progress-spiner class="spinner"></app-progress-spiner>
</ng-template>
